In [1]:
import pandas as pd
one = pd.read_csv('formr_one_example.csv')
three = pd.read_csv('formr_three_example.csv')
one.head()

,explanations,type,optional,name,block_order,item_order,showif,label,choice1,choice2
0,NaN,get PROLIFIC_PID,NaN,code,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,block,NaN,block,NaN,NaN,"is.na(code) || code == """"",You have to come here through Prolific.,NaN,NaN
2,NaN,note,NaN,consent,NaN,NaN,NaN,You are being invited to participate in a rese...,NaN,NaN
3,NaN,submit,NaN,consent_submit,NaN,NaN,NaN,Acknowledge Consent & Proceed,NaN,NaN
4,NaN,note,NaN,instructions_1,NaN,NaN,NaN,## Instructions,NaN,NaN

In [2]:
# pull out only the prompt rows into its own dataframe
one = one.loc[['prompt_' in x for x in one['name']]]
one.head()

,explanations,type,optional,name,block_order,item_order,showif,label,choice1,choice2
9,NaN,note,NaN,prompt_pr11,pr1,1.0,condition == 1,Steven sells government secrets from his natio...,NaN,NaN
18,NaN,note,NaN,prompt_sa11,sa1,1.0,condition == 1,Maria takes part in a performance art piece in...,NaN,NaN
27,NaN,note,NaN,prompt_li11,li1,1.0,condition == 1,James tells his fiance that she has to switch ...,NaN,NaN
45,NaN,note,NaN,prompt_pr12,pr1,1.0,condition == 2,Steven disobeys his boss; nothing bad happens ...,NaN,NaN
54,NaN,note,NaN,prompt_sa12,sa1,1.0,condition == 2,Maria looks at pornography in which an 18-year...,NaN,NaN

In [3]:
# narrow down to only those dealing with propriety, and only the columns we care about
one = one.loc[[x == 'pr1' for x in one['block_order']]]
one = one[['name','block_order','showif','label']]
one.head()

,name,block_order,showif,label
9,prompt_pr11,pr1,condition == 1,Steven sells government secrets from his natio...
45,prompt_pr12,pr1,condition == 2,Steven disobeys his boss; nothing bad happens ...
81,prompt_pr13,pr1,condition == 3,Steven sells government secrets from his natio...
117,prompt_pr14,pr1,condition == 4,Steven bumps into someone on the street while ...
153,prompt_pr15,pr1,condition == 5,Steven edges out another person in a long line...

In [4]:
# creating condition column
one['condition'] = [int(x.replace('condition == ','')) for x in one['showif']]
one = one.drop(['showif'],axis=1)
one.head()

,name,block_order,label,condition
9,prompt_pr11,pr1,Steven sells government secrets from his natio...,1
45,prompt_pr12,pr1,Steven disobeys his boss; nothing bad happens ...,2
81,prompt_pr13,pr1,Steven sells government secrets from his natio...,3
117,prompt_pr14,pr1,Steven bumps into someone on the street while ...,4
153,prompt_pr15,pr1,Steven edges out another person in a long line...,5

In [5]:
three = three.loc[['prompt_' in x for x in three['name']]]
three.head()

,explanations,type,optional,name,block_order,item_order,showif,label,choice1,choice2
9,NaN,note,NaN,prompt_po31,po3,1.0,condition == 1,Steven has done the following: \n- tries to ch...,NaN,NaN
18,NaN,note,NaN,prompt_pd31,pd3,1.0,condition == 1,Maria has done the following: \n- shoots geese...,NaN,NaN
27,NaN,note,NaN,prompt_sa31,sa3,1.0,condition == 1,James has done the following: \n- writes eroti...,NaN,NaN
36,NaN,note,NaN,prompt_li31,li3,1.0,condition == 1,Jennifer has done the following: \n- tells her...,NaN,NaN
54,NaN,note,NaN,prompt_lo32,lo3,1.0,condition == 2,Steven has done the following: \n- sells gover...,NaN,NaN

In [6]:
# narrow down to only those dealing with propriety, and only the columns we care about
three = three.loc[[x == 'pd3' or x == 'pr3' for x in three['block_order']]]
three = three[['name','block_order','showif','label']]
three.head()

,name,block_order,showif,label
18,prompt_pd31,pd3,condition == 1,Maria has done the following: \n- shoots geese...
63,prompt_pd32,pd3,condition == 2,Maria has done the following: \n- sends out an...
108,prompt_pd33,pd3,condition == 3,Maria has done the following: \n- eats a T-bon...
153,prompt_pd34,pd3,condition == 4,Maria has done the following: \n- talks loudly...
198,prompt_pd35,pd3,condition == 5,Maria has done the following: \n- pretends to ...

In [7]:
# creating condition column (a number from 1-10)
three['condition'] = [int(x.replace('condition == ','')) for x in three['showif']]
three = three.drop(['showif'],axis=1)
three.head()

,name,block_order,label,condition
18,prompt_pd31,pd3,Maria has done the following: \n- shoots geese...,1
63,prompt_pd32,pd3,Maria has done the following: \n- sends out an...,2
108,prompt_pd33,pd3,Maria has done the following: \n- eats a T-bon...,3
153,prompt_pd34,pd3,Maria has done the following: \n- talks loudly...,4
198,prompt_pd35,pd3,Maria has done the following: \n- pretends to ...,5

In [8]:
# write out to CSV; manually add the categories
one.to_csv('formr_one_example_prompts.csv')
three.to_csv('formr_three_example_prompts.csv')