In [1]:
import pandas as pd
filename = './InferenceTask_data'
df = pd.read_csv(filename + '.csv')
df = df.drop(['created','saved','shown','answered','optional','shown_relative','answered_relative','displaycount','hidden'],axis=1)
print(df.shape)
df.head()

(63294, 10)

,survey_name,unit_position,unit_session_id,session,type,item_name,label,showif,answer,display_order
0,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,note,consent,You are being invited to participate in a rese...,NaN,1,2
1,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,submit,consent_submit,Acknowledge Consent & Proceed,NaN,NaN,3
2,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,note,instructions_1,## Instructions,NaN,1,4
3,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,note,instructions_2,"On each page of this study, you will learn abo...",NaN,1,5
4,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,note,instructions_3,There are no right or wrong answers. We only w...,NaN,1,6

In [2]:
# find the part of the survey that actually has the data (i.e. remove all the blank rows without answers)
df = df.loc[[not x for x in df['answer'].isnull().values]]
print(df.shape)
df.head()

(6010, 10)

,survey_name,unit_position,unit_session_id,session,type,item_name,label,showif,answer,display_order
0,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,note,consent,You are being invited to participate in a rese...,NaN,1,2
2,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,note,instructions_1,## Instructions,NaN,1,4
3,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,note,instructions_2,"On each page of this study, you will learn abo...",NaN,1,5
4,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,note,instructions_3,There are no right or wrong answers. We only w...,NaN,1,6
6,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,random,condition,NaN,NaN,6,8

In [3]:
# getting rid of the condition/consent buttons and prompts
df = df.loc[~df['item_name'].isin(['condition','consent','instructions','code','feedback','feedback_text'])]
df = df.loc[~df['type'].isin(['note'])]
print(df.shape)
df.head()

(4445, 10)

,survey_name,unit_position,unit_session_id,session,type,item_name,label,showif,answer,display_order
238,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,rating_button,ca3po6,...walks away while his conversation partner i...,condition == 6,4,380
239,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,rating_button,ca3ca6,...laughs when he realizes his friend's dad is...,condition == 6,4,391
240,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,rating_button,ca3sa6,...searches through the trash to find women's ...,condition == 6,4,392
241,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,rating_button,ca3li6,...pressures his daughter to become a famous e...,condition == 6,3,389
242,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,rating_button,ca3lo6,...jokes about the stupidity of people from hi...,condition == 6,2,381

In [4]:
df['item_name'].value_counts()[:10]

po3lo5    20
po3au5    20
po3li5    20
po3fa5    20
po3sa5    20
po3po5    20
po3ca5    20
li3li5    19
pd3fa5    19
sa3ca5    19
Name: item_name, dtype: int64

In [5]:
df['unit_session_id'].value_counts()

19810377    35
19809198    35
19809638    35
19809262    35
19809250    35
            ..
19809147    28
19809114    21
19809136     7
19809156     7
19809127     7
Name: unit_session_id, Length: 130, dtype: int64

In [6]:
# Count number of incomplete responses
sessions = df['unit_session_id'].value_counts()
no_response = list(sessions.loc[sessions < 10].index)
print('Number of incomplete responses:',len(no_response))

Number of incomplete responses: 3

In [7]:
# Select out only the rows corresponding to completed surveys
df = df.loc[[item not in no_response for item in df['unit_session_id']]]
print(df.shape)
df.head()

(4424, 10)

,survey_name,unit_position,unit_session_id,session,type,item_name,label,showif,answer,display_order
238,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,rating_button,ca3po6,...walks away while his conversation partner i...,condition == 6,4,380
239,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,rating_button,ca3ca6,...laughs when he realizes his friend's dad is...,condition == 6,4,391
240,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,rating_button,ca3sa6,...searches through the trash to find women's ...,condition == 6,4,392
241,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,rating_button,ca3li6,...pressures his daughter to become a famous e...,condition == 6,3,389
242,Inference_Task,10,19809084,PZwbJ9ib3T_L1xRB5SwclIhC2M29JUG82a7FKlEFb9nY7P...,rating_button,ca3lo6,...jokes about the stupidity of people from hi...,condition == 6,2,381

In [8]:
# Filter out attention check fails
fails = []
for session_id in df['unit_session_id'].unique():
    df_session = df.loc[df['unit_session_id'] == session_id]
    df_attention = df_session.loc[[x.startswith('attention_') for x in df_session['item_name']]]
    if True in [x != str(1) for x in df_attention['answer'].values]:
        df = df.loc[[x != session_id for x in df['unit_session_id']]]
        fails.append(session_id)
print(df.shape)
print(fails,'failed the attention check.')

(4074, 10)
[19809084, 19809111, 19809137, 19809138, 19809142, 19809157, 19809172, 19809200, 19809267, 19809968] failed the attention check.

In [9]:
# Remove rows for attention check questions, to not skew the data
df = df.loc[[not x.startswith('attention') for x in df['item_name']]]
print(df.shape)
df.head()

(3269, 10)

,survey_name,unit_position,unit_session_id,session,type,item_name,label,showif,answer,display_order
655,Inference_Task,10,19809088,xH3yFfHuUrv_l3lLqHpffpLn9CN4nxT2-2a0mwwCRKA5KX...,rating_button,po3sa5,...looks at pornography in which an 18-year-ol...,condition == 5,6,16
656,Inference_Task,10,19809088,xH3yFfHuUrv_l3lLqHpffpLn9CN4nxT2-2a0mwwCRKA5KX...,rating_button,po3ca5,...tells a boy that his older brother is much ...,condition == 5,4,22
657,Inference_Task,10,19809088,xH3yFfHuUrv_l3lLqHpffpLn9CN4nxT2-2a0mwwCRKA5KX...,rating_button,po3li5,...tells his fiance that she has to switch to ...,condition == 5,5,21
658,Inference_Task,10,19809088,xH3yFfHuUrv_l3lLqHpffpLn9CN4nxT2-2a0mwwCRKA5KX...,rating_button,po3fa5,...skips to the front of the line because his ...,condition == 5,4,18
659,Inference_Task,10,19809088,xH3yFfHuUrv_l3lLqHpffpLn9CN4nxT2-2a0mwwCRKA5KX...,rating_button,po3po5,...goes to a birthday party for his friend but...,condition == 5,6,11

In [10]:
# Anonymize subjects
unique = df['unit_session_id'].unique()
participants = df['unit_session_id']
for i in range(len(unique)):
    participants = participants.replace(to_replace=unique[i], value=i)
df = df.drop(['unit_session_id','session'],axis=1)
df['subject'] = participants
df.head()

,survey_name,unit_position,type,item_name,label,showif,answer,display_order,subject
655,Inference_Task,10,rating_button,po3sa5,...looks at pornography in which an 18-year-ol...,condition == 5,6,16,0
656,Inference_Task,10,rating_button,po3ca5,...tells a boy that his older brother is much ...,condition == 5,4,22,0
657,Inference_Task,10,rating_button,po3li5,...tells his fiance that she has to switch to ...,condition == 5,5,21,0
658,Inference_Task,10,rating_button,po3fa5,...skips to the front of the line because his ...,condition == 5,4,18,0
659,Inference_Task,10,rating_button,po3po5,...goes to a birthday party for his friend but...,condition == 5,6,11,0

In [11]:
df['subject'].value_counts()
# All counts should be 28 (i.e. 28 rows per subject - 4 conditions x 7 conclusions per condition)

0      28
31     28
55     28
53     28
51     28
       ..
68     28
66     28
64     28
115    28
15     21
Name: subject, Length: 117, dtype: int64

In [12]:
# add information about premise category and question category
df['premise'] = [s[:3] for s in df['item_name']]
df['y'] = [s[3:5] for s in df['item_name']]
df.head()

,survey_name,unit_position,type,item_name,label,showif,answer,display_order,subject,premise,y
655,Inference_Task,10,rating_button,po3sa5,...looks at pornography in which an 18-year-ol...,condition == 5,6,16,0,po3,sa
656,Inference_Task,10,rating_button,po3ca5,...tells a boy that his older brother is much ...,condition == 5,4,22,0,po3,ca
657,Inference_Task,10,rating_button,po3li5,...tells his fiance that she has to switch to ...,condition == 5,5,21,0,po3,li
658,Inference_Task,10,rating_button,po3fa5,...skips to the front of the line because his ...,condition == 5,4,18,0,po3,fa
659,Inference_Task,10,rating_button,po3po5,...goes to a birthday party for his friend but...,condition == 5,6,11,0,po3,po

In [13]:
# get condition number
df['condition'] = [int(x.replace('condition ==','')) for x in df['showif']]
df = df.drop(['showif'],axis=1)
df.head()

,survey_name,unit_position,type,item_name,label,answer,display_order,subject,premise,y,condition
655,Inference_Task,10,rating_button,po3sa5,...looks at pornography in which an 18-year-ol...,6,16,0,po3,sa,5
656,Inference_Task,10,rating_button,po3ca5,...tells a boy that his older brother is much ...,4,22,0,po3,ca,5
657,Inference_Task,10,rating_button,po3li5,...tells his fiance that she has to switch to ...,5,21,0,po3,li,5
658,Inference_Task,10,rating_button,po3fa5,...skips to the front of the line because his ...,4,18,0,po3,fa,5
659,Inference_Task,10,rating_button,po3po5,...goes to a birthday party for his friend but...,6,11,0,po3,po,5

In [14]:
df['y'].value_counts()
# These should all be the same, since each conclusion is shown exactly once for each premise.

li    467
fa    467
au    467
lo    467
ca    467
po    467
sa    467
Name: y, dtype: int64

In [15]:
prompts = pd.read_csv('three_example_prompts.csv')
prompts.head()

,name,block_order,condition,label,categories
0,prompt_pd31,pd3,1,Maria has done the following: \n- shoots geese...,ca_fa_lo
1,prompt_pd32,pd3,2,Maria has done the following: \n- sends out an...,au_fa_po
2,prompt_pd33,pd3,3,Maria has done the following: \n- eats a T-bon...,po_au_fa
3,prompt_pd34,pd3,4,Maria has done the following: \n- talks loudly...,au_lo_ca
4,prompt_pd35,pd3,5,Maria has done the following: \n- pretends to ...,fa_ca_lo

In [16]:
# convert prompts into a dictionary
dct = {}
for index, row in prompts.iterrows():
    dct[row['condition']] = row['categories']
print(dct)

{1: 'ca_fa_lo', 2: 'au_fa_po', 3: 'po_au_fa', 4: 'au_lo_ca', 5: 'fa_ca_lo', 6: 'po_lo_au', 7: 'po_fa_au', 8: 'po_au_lo', 9: 'po_au_lo', 10: 'au_po_fa'}

In [17]:
# update the premise categories in the dataframe
for index, row in df.iterrows():
    if row['premise'] == 'pd3':
        df.at[index,'premise'] = dct[row['condition']]
df.head()

,survey_name,unit_position,type,item_name,label,answer,display_order,subject,premise,y,condition
655,Inference_Task,10,rating_button,po3sa5,...looks at pornography in which an 18-year-ol...,6,16,0,po3,sa,5
656,Inference_Task,10,rating_button,po3ca5,...tells a boy that his older brother is much ...,4,22,0,po3,ca,5
657,Inference_Task,10,rating_button,po3li5,...tells his fiance that she has to switch to ...,5,21,0,po3,li,5
658,Inference_Task,10,rating_button,po3fa5,...skips to the front of the line because his ...,4,18,0,po3,fa,5
659,Inference_Task,10,rating_button,po3po5,...goes to a birthday party for his friend but...,6,11,0,po3,po,5

In [18]:
# Write cleaned-up dataset to file
df.to_csv(filename + '_processed.csv',index=False)

In [19]:
# Debugging purposes only; saving information about incomplete surveys
df_full = pd.read_csv(filename + '.csv')
df_incomplete = df_full.loc[[item in no_response for item in df_full['unit_session_id']]]
# Note: This ID is hard coded because it has a lot more responses than the others; we're only using this to look at some
#df_incomplete = df_incomplete.loc[[item != 19568167 for item in df_incomplete['unit_session_id']]]
df_incomplete.to_csv(filename+'_incomplete.csv',index=False)
print(df_incomplete.shape)
df_incomplete['showif'].value_counts()

(1386, 19)

condition == 4               123
condition == 9               123
condition == 5               123
condition == 7               123
condition == 1               123
condition == 3               123
condition == 10              123
condition == 8               123
condition == 2               123
condition == 6               123
is.na(code) || code == ""      3
Name: showif, dtype: int64